body{
    background-color: #cfdeb6;
}
.goose{
    margin-left: 640px;
    position: static;
}
.firstpart{
margin: auto;
}
.first.heading{
    text-align: center;
}
.first.title{
    color: #a14b35;
    margin-left: 226px;
}
.first.p{
    margin-left: 226px;
}
.second.title{
    color: #a14b35;
    margin-left: 226px;
}
.second.p{
    margin-left: 226px;
}
.third.title{
    color: #a14b35;
    margin-left: 226px;
}
.third.p{
    margin-left: 226px;
}